
.auth-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 50px 50px 60px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 12397;
}

.auth-wrapper__logo__container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
}

.auth-wrapper__logo {
    width: 36px;
    height: 31px;
}

.auth-wrapper__form {
    padding: 50px;
    background: var(--child);
    border: 1px solid var(--border);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-wrapper__form-inner {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.auth-wrapper__form-inner__input {
    width: 100%;
    display: flex;
    border: 1px solid var(--alpha0);
    outline: 0px solid var(--alpha0);
    border-radius: 6px;
    background-color: var(--widget);
    transition: all 0.2s ease;
}

.auth-wrapper__form-inner__input.active {
    border: 1px solid var(--accent);
    outline: 5px solid var(--accent20);
}

.auth-wrapper__form-inner__input__icon {
    width: 50px;
    height: 50px;
    background-color: var(--text);
    mask-position: center;
    mask-size: 22px;
    mask-repeat: no-repeat;
    transition: background-color 0.2s ease;
}

.auth-wrapper__form-inner__input.active .auth-wrapper__form-inner__input__icon {
    background-color: var(--accent);
}

.auth-wrapper__form-inner__input__icon[data-icon="user"] {
    mask-image: url('../svg/lets-icons_user-duotone.svg');
    -webkit-mask-image: url('../svg/lets-icons_user-duotone.svg');
}

.auth-wrapper__form-inner__input__icon[data-icon="email"] {
    mask-image: url('../svg/streamline-flex-color_mail-send-envelope-flat.svg');
    -webkit-mask-image: url('../svg/streamline-flex-color_mail-send-envelope-flat.svg');
}

.auth-wrapper__form-inner__input__icon[data-icon="password"] {
    mask-image: url('../svg/solar_shield-bold-duotone.svg');
    -webkit-mask-image: url('../svg/solar_shield-bold-duotone.svg');
}

.auth-wrapper__form-inner__input__icon img {
    width: 22px;
    height: 22px;
}

.auth-wrapper__form-inner__input input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: var(--text);
    font-size: 12px;
    font-weight: 500;
}

.auth-wrapper__form-inner__input input::placeholder {
    color: var(--text);
}

.auth-wrapper__form-inner__input.active input {
    color: var(--white);
}



.auth-wrapper__nav {
    position: absolute;
    bottom: 60px;
    left: 20px;
    right: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.auth-wrapper__nav__button {
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
}

.auth-wrapper__nav__button img {
    width: 10px;
    height: 9px;
}

.auth-wrapper__nav__button span {
    color: var(--white);
    font-size: 12px;
    font-weight: 500;   
}

.main__button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    color: var(--black);
    transition: background-color 0.2s ease;
}

.main__button:hover {
    background-color: var(--accent-hover);
}

@media (width < 500px) {
    .auth-wrapper__logo {
        top: 10%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (width < 400px) {
    .auth-wrapper__form-inner {
        width: calc(100vw - 50px);
    }
}