
.products__container {
    width: 100%;
}

.products__content {
    max-width: var(--containers-max-width);
    padding: 158px 0;
    padding-bottom: 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 75px;
}

.products__content .title {
    all: unset;
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.products__items__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.products__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products__item__image__container {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border);
    position: relative;
}

.products__item__image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-image.active {
    display: block !important;
    opacity: 1;
}

.product-image:not(.active) {
    opacity: 0;
}

.products__item__tag {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--orange15);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    align-items: center;
    border-radius: 4px;
}

.products__item__tag img {
    width: 9px;
    height: 9px;
}

.products__item__tag span {
    font-size: 11px;
    font-weight: 800;
    color: var(--orange);
    text-transform: uppercase;
}

.products__item__information__container {
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.products__item__information__container__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__item__information__container__header__left {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 8px;
}

.products__item__information__container__header__left span {
    font-size: 11px;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
}

.products__item__information__container__header__right {
    display: flex;
    gap: 5px;
    align-self: center;
}

.products__item__image__state {
    width: 5px;
    height: 3px;
    background-color: var(--accent20);
    border-radius: 100px;
    transition: width 0.2s ease, background-color 0.2s ease;
}

.products__item__image__state.active {
    background-color: var(--accent);
    width: 20px;
}

.products__item__information__container__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__item__information__container__bottom span {
    font-size: 13px;
    font-weight: 500;
    color: var(--green);
    text-transform: uppercase;
}

.products__item__information__container__bottom img {
    width: 15px;
    height: 15px;
}

@media screen and (min-width:767px) and (max-width:1200px) {

}

@media screen and (max-width:767px) {
    .products__content {
        margin-top: -50px;
        gap: 25px;
    }
    .products__items__content {
        grid-template-columns: repeat(1, 1fr);
    }
}