
.profile__container {
    width: 100%;
}

.profile__content {
    max-width: var(--containers-max-width);
    padding: 158px 0;
    padding-bottom: 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 75px;
}

.profile__content__inner {
    width: 100%;
    display: flex;
    gap: 25px;
}

.profile__content .title {
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.profile__preview__and__tabs {
    width: 217px;
    min-width: 217px;
    max-width: 217px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile__preview {
    width: 100%;
    padding: 15px;
    display: flex;
    gap: 15px;
    background-color: var(--child);
    border: 1px solid var(--border);
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
}

.profile__preview .title {
    all: unset;
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
}

.profile__preview .description {
    all: unset;
    font-size: 11px;
    font-weight: 500;
    color: var(--accent);
}

.profile__avatar__container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 100px;
    overflow: hidden;
}

.profile__avatar__container form {
    display: none;
}

.profile__avatar__container button {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
}

.profile__avatar__container button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile__tabs {
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--child);
    border: 1px solid var(--border);
    border-radius: 8px;   
}

.profile__tab__button {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    display: flex;
    padding-left: 60px;
    align-items: center;
    position: relative;
    height: 15px;
    transition: all 0.2s ease;
}


.profile__tab__button .title {
    font-size: 13px;
    font-weight: 500;
    color: var(--text);
    height: 13px;
    transition: all 0.2s ease;
}

.profile__tab__button::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    mask-position: top left;
    mask-repeat: no-repeat;
    mask-size: 15px 15px;
    background-color: var(--text);
    transition: all 0.2s ease;
}

.profile__tab__button::after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 3px;
    left: 60px;
    bottom: -10px;
    background-color: var(--accent);
    border-radius: 100px;
    transition: all 0.2s ease;
}

.profile__tab__button:hover::after,
.profile__tab__button.active::after {
    width: 20px;
    opacity: 1;
}

.profile__tab__button:hover .title,
.profile__tab__button.active .title {
    color: var(--white);
}

.profile__tab__button:hover::before,
.profile__tab__button.active::before {
    background-color: var(--accent);
}

.profile__tab__button[data-icon="user-pen"]::before {
    mask-image: url('../svg/user-pen\ \(1\)\ 1.svg');
    -webkit-mask-image: url('../svg/user-pen\ \(1\)\ 1.svg');
}

.profile__tab__button[data-icon="credit-card"]::before {
    mask-image: url('../svg/credit-card\ 1.svg');
    -webkit-mask-image: url('../svg/credit-card\ 1.svg');
}

.profile__tab__button[data-icon="interrogation"]::before {
    mask-image: url('../svg/interrogation\ \(1\)\ 1.svg');
    -webkit-mask-image: url('../svg/interrogation\ \(1\)\ 1.svg');
}

.profile__tab__button[data-icon="cart-shopping-fast"]::before {
    mask-image: url('../svg/cart-shopping-fast\ 1.svg');
    -webkit-mask-image: url('../svg/cart-shopping-fast\ 1.svg');
}

.profile__tab__button[data-icon="clock-three"]::before {
    mask-image: url('../svg/clock-three\ \(1\)\ 1.svg');
    -webkit-mask-image: url('../svg/clock-three\ \(1\)\ 1.svg');
}

.profile__tab__button[data-icon="ticket-alt"]::before {
    mask-image: url('../svg/ticket-alt\ 1.svg');
    -webkit-mask-image: url('../svg/ticket-alt\ 1.svg');
}

.profile__menu {
    width: 100%;
    border: 1px solid var(--border);
    background-color: var(--child);
    border-radius: 8px;
    height: min-content;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.log__out__button {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px solid var(--alpha0);
    border: none;
    background-color: #FF4C4C;
    color: var(--black);
    height: 45px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.log__out__button:hover {
    outline: 5px solid #FF4C4C20;
    background-color: #FF6D6D;
    scale: 0.95;
}

@media screen and (min-width:767px) and (max-width:1200px) {

}

@media screen and (max-width:767px) {
    .profile__content {
        margin-top: -50px;
        gap: 25px;
    }
    .profile__preview__and__tabs {
        width: 100%;
        min-width: none;
        max-width: none;
    }
    .profile__content__inner {
        flex-direction: column;
    }
}